* {
  text-align: center;
}

#placeholder {
  height: 150px;
  width: 150px;
  padding-top: 65px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:80px;
}